**Importing Libraries**

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Data loading
pm = pd.read_csv("puma_men.csv") #Puma Men
pw = pd.read_csv("puma_women.csv") #Puma Women
am = pd.read_csv("adidas_men.csv") #Adidas Men
aw = pd.read_csv("adidas_women.csv") #Adidas Women
nm = pd.read_csv("nike_men.csv")  #Nike Men
nw = pd.read_csv("nike_women.csv") #Nike Women
sm = pd.read_csv("skechers_men.csv") #Skechers Men
sw = pd.read_csv("skechers_women.csv") #Skechers Women

**Data Exploration and Cleaning**

Puma data - men

In [3]:
pm.head()

,Unnamed: 0,ProductName,ProductPrice,ProductDiscount
0,0,Bridge Comfort Running Shoes For Men,"₹2,499","₹1,299"
1,1,Coarse Sneakers For Men,"₹4,999","₹2,399"
2,2,Rungryp Sneakers For Men,"₹4,999","₹2,350"
3,3,Puma Buzz Sneakers For Men,"₹4,499","₹1,299"
4,4,Bridge Comfort Running Shoes For Men,"₹2,499","₹1,299"

In [4]:
pm.shape

(800, 4)

In [5]:
pm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       800 non-null    int64
 1   ProductName      800 non-null    object
 2   ProductPrice     745 non-null    object
 3   ProductDiscount  800 non-null    object
dtypes: int64(1), object(3)
memory usage: 25.1+ KB

In [6]:
#Changing Data Type

In [7]:
pm['ProductPrice'] = pm['ProductPrice'].astype(object)

In [8]:
#Dealing with empty ProductPrice

In [9]:
pm['ProductPrice'] = pm['ProductPrice'].fillna(pm['ProductDiscount'])

In [10]:
#Removing Ruppee sign

In [11]:
pm['ProductPrice'] = pm['ProductPrice'].str.replace('₹', '').str.replace(',', '').astype(int)

In [12]:
pm['ProductDiscount'] = pm['ProductDiscount'].str.replace('₹', '').str.replace(',', '').astype(int)

In [13]:
pm = pm.drop(pm.columns[0], axis=1)

In [14]:
pm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      800 non-null    object
 1   ProductPrice     800 non-null    int32
 2   ProductDiscount  800 non-null    int32
dtypes: int32(2), object(1)
memory usage: 12.6+ KB

In [15]:
#Removing rows with duplicate ProductName and ProductPrice

In [16]:
duplicates = pm.duplicated(subset=['ProductName', 'ProductPrice'], keep=False)

In [17]:
pm = pm[~duplicates]

In [18]:
pm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 400 entries, 2 to 799
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      400 non-null    object
 1   ProductPrice     400 non-null    int32
 2   ProductDiscount  400 non-null    int32
dtypes: int32(2), object(1)
memory usage: 9.4+ KB

In [19]:
pm.shape

(400, 3)

In [20]:
#Puma data - women

In [21]:
pw.head()

,Unnamed: 0,ProductName,ProductPrice,ProductDiscount
0,0,Carina Slim Perf Sneakers For Women,"₹4,499","₹2,379"
1,1,Cross Wn's Walking Shoes For Women,"₹3,999","₹2,119"
2,2,Cross Wn's Running Shoes For Women,"₹3,999","₹1,919"
3,3,Agile Trip Wn's Walking Shoes For Women,"₹3,499","₹1,679"
4,4,Kardio on Women Sneakers For Women,"₹4,499","₹2,379"

In [22]:
pw.shape

(800, 4)

In [23]:
pw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       800 non-null    int64
 1   ProductName      800 non-null    object
 2   ProductPrice     776 non-null    object
 3   ProductDiscount  800 non-null    object
dtypes: int64(1), object(3)
memory usage: 25.1+ KB

In [24]:
pw['ProductPrice'] = pw['ProductPrice'].fillna(pw['ProductDiscount'])

In [25]:
pw['ProductPrice'] = pw['ProductPrice'].str.replace('₹', '').str.replace(',', '').astype(int)

In [26]:
pw['ProductDiscount'] = pw['ProductDiscount'].str.replace('₹', '').str.replace(',', '').astype(int)

In [27]:
pw = pw.drop(pw.columns[0], axis=1)

In [28]:
pw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      800 non-null    object
 1   ProductPrice     800 non-null    int32
 2   ProductDiscount  800 non-null    int32
dtypes: int32(2), object(1)
memory usage: 12.6+ KB

In [29]:
duplicates1 = pw.duplicated(subset=['ProductName', 'ProductPrice'], keep=False)

In [30]:
pw = pw[~duplicates1]

In [31]:
pw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 361 entries, 2 to 799
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      361 non-null    object
 1   ProductPrice     361 non-null    int32
 2   ProductDiscount  361 non-null    int32
dtypes: int32(2), object(1)
memory usage: 8.5+ KB

In [32]:
pw.shape

(361, 3)

In [33]:
#Adidas data - men

In [34]:
am.head()

,Unnamed: 0,ProductName,ProductPrice,ProductDiscount
0,0,Fluo M Running Shoes For Men,"₹3,999","₹1,599"
1,1,GlideEase M Running Shoes For Men,"₹2,999","₹1,259"
2,2,CyberRun M Running Shoes For Men,"₹4,299","₹2,407"
3,3,Runesy M Running Shoes For Men,"₹4,299","₹1,679"
4,4,RUNFALCON 3.0 Running Shoes For Men,"₹6,599","₹3,959"

In [35]:
am.shape

(800, 4)

In [36]:
am.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       800 non-null    int64
 1   ProductName      800 non-null    object
 2   ProductPrice     792 non-null    object
 3   ProductDiscount  800 non-null    object
dtypes: int64(1), object(3)
memory usage: 25.1+ KB

In [37]:
am['ProductPrice'] = am['ProductPrice'].fillna(am['ProductDiscount'])

In [38]:
am['ProductPrice'] = am['ProductPrice'].str.replace('₹', '').str.replace(',', '').astype(int)

In [39]:
am['ProductDiscount'] = am['ProductDiscount'].str.replace('₹', '').str.replace(',', '').astype(int)

In [40]:
am = am.drop(am.columns[0], axis=1)

In [41]:
am.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      800 non-null    object
 1   ProductPrice     800 non-null    int32
 2   ProductDiscount  800 non-null    int32
dtypes: int32(2), object(1)
memory usage: 12.6+ KB

In [42]:
duplicates2 = am.duplicated(subset=['ProductName', 'ProductPrice'], keep=False)

In [43]:
am = am[~duplicates2]

In [44]:
am.info()

<class 'pandas.core.frame.DataFrame'>
Index: 310 entries, 13 to 798
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      310 non-null    object
 1   ProductPrice     310 non-null    int32
 2   ProductDiscount  310 non-null    int32
dtypes: int32(2), object(1)
memory usage: 7.3+ KB

In [45]:
am.shape

(310, 3)

In [46]:
#Adidas data - women

In [47]:
aw.head()

,Unnamed: 0,ProductName,ProductPrice,ProductDiscount
0,0,SweepIt W Running Shoes For Women,"₹3,299","₹1,579"
1,1,Contem X W Running Shoes For Women,"₹3,999","₹1,679"
2,2,Base-Strike W Running Shoes For Women,"₹3,599","₹1,871"
3,3,Base-Strike W Running Shoes For Women,"₹3,599","₹1,871"
4,4,StreetAhead W Running Shoes For Women,"₹2,999","₹1,239"

In [48]:
aw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       400 non-null    int64
 1   ProductName      400 non-null    object
 2   ProductPrice     382 non-null    object
 3   ProductDiscount  400 non-null    object
dtypes: int64(1), object(3)
memory usage: 12.6+ KB

In [49]:
aw['ProductPrice'] = aw['ProductPrice'].fillna(aw['ProductDiscount'])

In [50]:
aw['ProductPrice'] = aw['ProductPrice'].str.replace('₹', '').str.replace(',', '').astype(int)

In [51]:
aw['ProductDiscount'] = aw['ProductDiscount'].str.replace('₹', '').str.replace(',', '').astype(int)

In [52]:
aw = aw.drop(aw.columns[0], axis=1)

In [53]:
aw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      400 non-null    object
 1   ProductPrice     400 non-null    int32
 2   ProductDiscount  400 non-null    int32
dtypes: int32(2), object(1)
memory usage: 6.4+ KB

In [54]:
duplicates3 = aw.duplicated(subset=['ProductName', 'ProductPrice'], keep=False)

In [55]:
aw = aw[~duplicates3]

In [56]:
aw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 244 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      244 non-null    object
 1   ProductPrice     244 non-null    int32
 2   ProductDiscount  244 non-null    int32
dtypes: int32(2), object(1)
memory usage: 5.7+ KB

In [57]:
aw.shape

(244, 3)

In [58]:
#Nike data - men

In [59]:
nm.head()

,Unnamed: 0,ProductName,ProductPrice,ProductDiscount
0,0,Revolution 7 Running Shoes For Men,"₹9,695","₹3,695"
1,1,Winflo 9 Shield Running Shoes For Men,"₹3,995","₹6,787"
2,2,Downshifter 11 Road Running Running Shoes For Men,"₹4,995","₹2,996"
3,3,Flex Experience Run 11 Running Shoes For Men,"₹4,995","₹3,497"
4,4,Court Vision Lo Nn Basketball Shoes For Men,"₹3,695","₹3,497"

In [60]:
nm.shape

(800, 4)

In [61]:
nm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       800 non-null    int64
 1   ProductName      800 non-null    object
 2   ProductPrice     694 non-null    object
 3   ProductDiscount  800 non-null    object
dtypes: int64(1), object(3)
memory usage: 25.1+ KB

In [62]:
nm['ProductPrice'] = nm['ProductPrice'].fillna(nm['ProductDiscount'])

In [63]:
nm['ProductPrice'] = nm['ProductPrice'].str.replace('₹', '').str.replace(',', '').astype(int)

In [64]:
nm['ProductDiscount'] = nm['ProductDiscount'].str.replace('₹', '').str.replace(',', '').astype(int)

In [65]:
nm = nm.drop(nm.columns[0], axis=1)

In [66]:
nm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      800 non-null    object
 1   ProductPrice     800 non-null    int32
 2   ProductDiscount  800 non-null    int32
dtypes: int32(2), object(1)
memory usage: 12.6+ KB

In [67]:
duplicates4 = nm.duplicated(subset=['ProductName', 'ProductPrice'], keep=False)

In [68]:
nm = nm[~duplicates4]

In [69]:
nm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 675 entries, 0 to 798
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      675 non-null    object
 1   ProductPrice     675 non-null    int32
 2   ProductDiscount  675 non-null    int32
dtypes: int32(2), object(1)
memory usage: 15.8+ KB

In [70]:
nm.shape

(675, 3)

In [71]:
#Nike data - women

In [72]:
nw.head()

,Unnamed: 0,ProductName,ProductPrice,ProductDiscount
0,0,Downshifter 12 Running Shoes For Women,"₹3,995","₹3,395"
1,1,Revolution 7 Running Shoes For Women,"₹8,495","₹3,695"
2,2,Running Shoes For Women,"₹3,995","₹4,459"
3,3,Downshifter 12 Running Shoes For Women,"₹3,995","₹3,395"
4,4,Downshifter 12 Running Shoes For Women,"₹3,995","₹3,116"

In [73]:
nw.shape

(799, 4)

In [74]:
nw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 799 entries, 0 to 798
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       799 non-null    int64
 1   ProductName      799 non-null    object
 2   ProductPrice     711 non-null    object
 3   ProductDiscount  799 non-null    object
dtypes: int64(1), object(3)
memory usage: 25.1+ KB

In [75]:
nw['ProductPrice'] = nw['ProductPrice'].fillna(nw['ProductDiscount'])

In [76]:
nw['ProductPrice'] = nw['ProductPrice'].str.replace('₹', '').str.replace(',', '').astype(int)

In [77]:
nw['ProductDiscount'] = nw['ProductDiscount'].str.replace('₹', '').str.replace(',', '').astype(int)

In [78]:
nw = nw.drop(nw.columns[0], axis=1)

In [79]:
nw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 799 entries, 0 to 798
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      799 non-null    object
 1   ProductPrice     799 non-null    int32
 2   ProductDiscount  799 non-null    int32
dtypes: int32(2), object(1)
memory usage: 12.6+ KB

In [80]:
duplicates5 = nw.duplicated(subset=['ProductName', 'ProductPrice'], keep=False)

In [81]:
nw = nw[~duplicates5]

In [82]:
nw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 497 entries, 1 to 797
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      497 non-null    object
 1   ProductPrice     497 non-null    int32
 2   ProductDiscount  497 non-null    int32
dtypes: int32(2), object(1)
memory usage: 11.6+ KB

In [83]:
nw.shape

(497, 3)

In [84]:
#Skechers data - men

In [85]:
sm.head()

,Unnamed: 0,ProductName,ProductPrice,ProductDiscount
0,0,TERRENEX Sneakers For Men,"₹5,499","₹3,574"
1,1,Modern Cool-Keene Walking Shoes For Men,"₹4,299","₹3,499"
2,2,SUMMITS - BRISBANE Sneakers For Men,"₹4,999","₹3,224"
3,3,Equalizer 3.0 Sneakers For Men,"₹3,999","₹2,999"
4,4,MODERN COOL Sneakers For Men,"₹5,499","₹2,799"

In [86]:
sm.shape

(800, 4)

In [87]:
sm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       800 non-null    int64
 1   ProductName      800 non-null    object
 2   ProductPrice     624 non-null    object
 3   ProductDiscount  800 non-null    object
dtypes: int64(1), object(3)
memory usage: 25.1+ KB

In [88]:
sm['ProductPrice'] = sm['ProductPrice'].fillna(sm['ProductDiscount'])

In [89]:
sm['ProductPrice'] = sm['ProductPrice'].str.replace('₹', '').str.replace(',', '').astype(int)

In [90]:
sm['ProductDiscount'] = sm['ProductDiscount'].str.replace('₹', '').str.replace(',', '').astype(int)

In [91]:
sm = sm.drop(sm.columns[0], axis=1)

In [92]:
sm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      800 non-null    object
 1   ProductPrice     800 non-null    int32
 2   ProductDiscount  800 non-null    int32
dtypes: int32(2), object(1)
memory usage: 12.6+ KB

In [93]:
duplicates6 = sm.duplicated(subset=['ProductName', 'ProductPrice'], keep=False)

In [94]:
sm = sm[~duplicates6]

In [95]:
sm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 702 entries, 1 to 798
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      702 non-null    object
 1   ProductPrice     702 non-null    int32
 2   ProductDiscount  702 non-null    int32
dtypes: int32(2), object(1)
memory usage: 16.5+ KB

In [96]:
sm.shape

(702, 3)

In [97]:
#Skechers data - women

In [98]:
sw.head()

,Unnamed: 0,ProductName,ProductPrice,ProductDiscount
0,0,ARCH FIT-MODERN RHYTHM Walking Shoes For Women,"₹7,499","₹4,499"
1,1,BOBS SQUAD CHAOS-STE Sneakers For Women,"₹6,499","₹3,021"
2,2,GO WALK JOY-PARADISE Running Shoes For Women,"₹5,499","₹3,299"
3,3,FLEX APPEAL 4.0-ACTIVE FLOW Running Shoes For ...,"₹6,999","₹3,119"
4,4,GO WALK JOY -WONDERFUL SPRING Walking Shoes Fo...,"₹5,999","₹2,579"

In [99]:
sw.shape

(800, 4)

In [100]:
sw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       800 non-null    int64
 1   ProductName      800 non-null    object
 2   ProductPrice     746 non-null    object
 3   ProductDiscount  800 non-null    object
dtypes: int64(1), object(3)
memory usage: 25.1+ KB

In [101]:
sw['ProductPrice'] = sw['ProductPrice'].fillna(sw['ProductDiscount'])

In [102]:
sw['ProductPrice'] = sw['ProductPrice'].str.replace('₹', '').str.replace(',', '').astype(int)

In [103]:
sw['ProductDiscount'] = sw['ProductDiscount'].str.replace('₹', '').str.replace(',', '').astype(int)

In [104]:
sw = sw.drop(sw.columns[0], axis=1)

In [105]:
sw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      800 non-null    object
 1   ProductPrice     800 non-null    int32
 2   ProductDiscount  800 non-null    int32
dtypes: int32(2), object(1)
memory usage: 12.6+ KB

In [106]:
duplicates7 = sw.duplicated(subset=['ProductName', 'ProductPrice'], keep=False)

In [107]:
sw = sw[~duplicates7]

In [108]:
sw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 620 entries, 0 to 799
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      620 non-null    object
 1   ProductPrice     620 non-null    int32
 2   ProductDiscount  620 non-null    int32
dtypes: int32(2), object(1)
memory usage: 14.5+ KB

In [109]:
sw.shape

(620, 3)

**Data Exporting**

In [110]:
#Adding Brand and Gender columns

In [111]:
pm['Brand'] = 'Puma'

In [112]:
pm['Gender'] = 'Men'

In [113]:
pm.to_csv("pm.csv", index=False)

In [114]:
pw['Brand'] = 'Puma'

In [115]:
pw['Gender'] = 'Women'

In [116]:
pw.to_csv("pw.csv", index=False)

In [117]:
am['Brand'] = 'Adidas'

In [118]:
am['Gender'] = 'Men'

In [119]:
am.to_csv("am.csv", index=False)

In [120]:
aw['Brand'] = 'Adidas'

In [121]:
aw['Gender'] = 'Women'

In [122]:
aw.to_csv("aw.csv", index=False)

In [123]:
nm['Brand'] = 'Nike'

In [124]:
nm['Gender'] = 'Men'

In [125]:
nm.to_csv("nm.csv", index=False)

In [126]:
nw['Brand'] = 'Nike'

In [127]:
nw['Gender'] = 'Women'

In [128]:
nw.to_csv("nw.csv", index=False)

In [129]:
sm['Brand'] = 'Skechers'

In [130]:
sm['Gender'] = 'Men'

In [131]:
sm.to_csv("sm.csv", index=False)

In [132]:
sw['Brand'] = 'Skechers'

In [133]:
sw['Gender'] = 'Women'

In [134]:
sw.to_csv("sw.csv", index=False)

In [135]:
#Concatenate CSV files

In [136]:
csv_files = ["pm.csv", "pw.csv", "am.csv", "aw.csv", "nm.csv", "nw.csv", "sm.csv", "sw.csv"]

In [137]:
dataframes = []
for file in csv_files:
    df = pd.read_csv(file) 
    dataframes.append(df) 
concatenated_df = pd.concat(dataframes, ignore_index=True)

In [138]:
concatenated_df.shape

(3809, 5)

In [139]:
concatenated_df.head()

,ProductName,ProductPrice,ProductDiscount,Brand,Gender
0,Rungryp Sneakers For Men,4999,2350,Puma,Men
1,Puma Buzz Sneakers For Men,4499,1299,Puma,Men
2,MERCEDES AMG PETRONAS Drift Cat Ultra Casuals ...,6999,5599,Puma,Men
3,Puma Pwrflow Slipon Running Shoes For Men,3999,2399,Puma,Men
4,Buzz Casuals For Men,4499,1299,Puma,Men

In [142]:
#Exporting data through CSV

In [144]:
concatenated_df.to_csv("productData.csv", index=False)